<!doctype html>


<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Spring Boot Web Service</title>
</head>
<body>
    <h1>Spring Boot Web Service</h1>
</body>
</html>